.header-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 200px;
}
.header-container a{
    text-decoration: none;
    margin-left: 16px;
    font-size:18px;
    color:rgb(133, 131, 131);
}
.header-container a:hover{
    color:rgb(85, 176, 236);
}